<form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Username</label>
        <input  name="email" id="username" placeholder="Enter the email" formControlName="username" >
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password">
    </div>
    <div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
    <div>
        <button type="button" [routerLink]="['/register']" routerLinkActive="router-link-active" > Register</button>
    </div>
</form>