<form action="">
    <div>
        <label for="email">Email ID</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="firstName"> First Name</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName">
    </div>
    <div>
        <label for="occupation">select occupation</label>
        <select name="" id="" name="occupation">
            <option disabled="true" selected >select</option>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div>
        <label for="password"> Password</label>
        <input type="password" name="password">
    </div>

    <div>
        <button>Register</button>
    </div>

</form>